@media only screen and (min-width: 772px) {
    .filters {
        width: 400px;
        position: fixed;
        left: -375px;
        overflow-y:scroll;
        min-height: 95vh;
        background-color: grey;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.3s;
        padding-top: 30px;
        opacity: 0.5;
    }
    .filters:hover {
        opacity: 1;
        left: 0vw;
    }
    .filters:hover input {
        opacity: 1
    }
    .filterTitle {
        display: block;
        width: 100%;
        text-align: center;
    }
    .filtersContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;
        justify-items: center;
    }
    .filtersContainer input {
        transition: 0.4s;
        cursor: text;
        opacity: 0;
    }
    .dateFilters {
        width: 90%;
    }
    .dateInputs {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .filterSubTitle {
        display: block;
        width: 100%;
        text-align: start;
    }
    .dotsIcon {
        transform: rotate(-90deg);
        position: absolute;
        right: 2px;
        top: 45%;
        font-size: 120%;
        color: lightgrey;
    }
    .resetFilters {
        position: absolute;
        top: 20px;
        right: 40px;
        font-size: 200%;
        transition: 0.1s;
        cursor: pointer;
    }
    .resetFilters:hover {
        font-size: 230%;
    }
    .checkboxContainer {
        width: 100%;
        display: grid;
        height: 30vh;
        overflow-y: auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .CheckBox {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        justify-items: center;
    }
    .CheckBox input {
        cursor: pointer;
        width: 15px;
    }
    .selectingContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .selector {
        cursor: pointer;
    }
    .selector:hover {
        text-decoration: underline;
    }
}