@media only screen and (max-width: 771px) {
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100vh;
        width: 100%;
        min-width: 200px;

        margin: 0px;
    }
    #root{
        height: 100%;
        margin: 0px;
        padding:0px;
        min-width: 200px;
    }
  
    @keyframes fadeIn{
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
    
    @font-face {
        font-family: 'MyWebFont';
        src: url('./Staatliches-Regular.ttf'); 
      }
      @font-face {
        font-family: 'Roboto';
        src: url('./Roboto/Roboto-Black.ttf'); 
      }
    

      .home{
          position: relative;
      }
    
    .title{
        display: block;
        width: 100%;
        font-size: 250%;
        text-align: center;
    }
    .backButton{
        display: block;
       text-decoration: none;
       color: black;
        width: 20vw;
        font-size: 300%;
        padding-left: 5vw;
        transition: 0.4s;
    }
    .backButton:hover{
        padding-left: 4vw;
    }
    
    .transactionsContainer{
        padding-bottom: 20vh;
        border-bottom: 2px solid grey;
    }
    .transaction{
        width: 90%;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(4,3fr) 1fr;
        align-items: center;
        justify-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        transition: 0.1s;
        font-size: 4vw;
        font-weight: 450;
    }
    .transaction:hover{
        background-color: grey;
        color: white;
    }
    .Date{
        font-size: 3vw; 
    }
    .deleteBtn{
        cursor: pointer;
        transition: 0.1s;
        font-size: 125%
    }
    .deleteBtn:hover{
        font-size: 150%;
    }
    .accountStatus{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    
    }
    .balanceContainer{
        width: 80%;
        height: 150px;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: 200%;
    }
    .balance{
        animation-name: fadeIn;
        animation-duration: 0.6s;
        align-self: flex-start;
        font-size: 150%;
        font-weight: 700;
    }
    .redTxt{
    color: lightcoral;
    }
    .greenTxt{
        color: lightgreen;
    }
    .Withdrawels{
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }
    .amount{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .red{
    
        background-color: lightcoral;
    }
    .green{
    
        background-color: lightgreen;
    }
    .headers{
        font-weight: bolder;
        width: 90%;
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: repeat(4,3fr);
        align-items: center;
        justify-items: center;
        margin-top: 40px;
        margin-bottom: 10px;
        border-bottom: 2px solid lightslategray;
        font-size: 140%;
    }
    .property{
        cursor: pointer;
       transition: 0.2s;
       font-size: 4vw;
    }
    .filterIcon{
        font-size: 70%;
    }
    .property:hover{
        text-shadow: 0px 0px 5px  grey;
    }
    .tableBtns{
        position: absolute;
        left: 35%;
        top: -50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

    }
    
    .newTransactionBtn{
        color: black;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 125%;
        margin: 10px;
    }
    .newTransactionBtn:hover{
        font-size: 150%;
    }
    .nothingTOSshow{
        width: 100%;
        height: 30vh;
        display: grid;
        align-items: center;
        justify-items: center;
        color: grey;
        font-size: 3vw;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .resetFiltersHome{
     
        font-size: 120%;
        transition: 0.1s;
        cursor: pointer;
        margin: 10px;

    
    }
    .resetFiltersHome:hover{
        font-size: 150%;
    }
    .filtertransactionsContainer{
        height: 60vh;
        overflow-y: scroll;
    }

}